.logo-header {
  outline: 2px solid black;
  width: 200px;
}

#search {
  /* outline: 1px solid red; */
  width: 400px;
  height: 30px;
  margin-left: 10px;
  border-top: 2px solid black;
  border-right: 2px solid red;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.header-img {
  width: 20px;
}

img {
  width: 100%;
  height: 100%;
}

.my-input {
  display: flex;
  width: 600px;
  height: 38px;
  border: 1px solid #5f6368;
  border-radius: 24px;
}
